* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

body {
  font-family: "Poppins", sans-serif;
  background: #f8f8f8;
  font-weight: 400;
  font-size: 1.15rem;
}

.max-bound {
  max-width: 1200px;
  margin: 0 auto;
}

.outer-pad {
  padding: 1rem;
}

.btn {
  padding: 8px 14px;
  border-radius: 5px;
  border: 0;
  text-decoration: none;
  display: inline-block;
  font-size: 1.1rem;
  line-height: 1.5rem;
  cursor: pointer;
  transition: background-color 0.5s, color 0.5s;
}
.btn--yellow {
  background: #F9AF10;
  color: #ffffff;
}
.btn--yellow:hover {
  background: #eaa106;
}
.btn--red {
  background: #E73350;
  color: #ffffff;
}
.btn--red:hover {
  background: #cf1836;
}
.btn--purple {
  background: #7422AC;
  color: #ffffff;
}
.btn--purple:hover {
  background: #330066;
}
.btn--black {
  background: #2D2D2D;
  color: #ffffff;
}
.btn--black:hover {
  background: #141414;
}
.btn--big {
  font-size: 1.35rem;
  font-weight: 500;
  padding: 10px 18px;
  border-radius: 8px;
}
.btn--link {
  padding-left: 0;
  color: #F9AF10;
}
.btn--link:hover {
  color: #eaa106;
}

.icn--row {
  height: 17.5px;
  width: 30px;
  display: inline-block;
  background: url("img/icn-row.png");
  background-size: cover;
}
.icn--search {
  height: 17.5px;
  width: 30px;
  display: inline-block;
  background: url("img/icn-search.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.icn--eye {
  height: 17.5px;
  width: 30px;
  display: inline-block;
  background: url("img/icn-eye.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.icn--eye-b {
  height: 17.5px;
  width: 30px;
  display: inline-block;
  background: url("img/icn-eye-b.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.icn--user {
  height: 45px;
  width: 45px;
  display: inline-block;
  background: url("img/icn-user.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.icn--password {
  height: 45px;
  width: 45px;
  display: inline-block;
  background: url("img/icn-password.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.text--purple {
  color: #7422AC;
}

.countryt {
  font-size: 0.9rem;
  position: relative;
  height: 100%;
  border: 1px solid #cbcbcb;
  border-radius: 4px 0 0 4px;
}
.countryt__selected-flag {
  z-index: 1;
  position: relative;
  display: flex;
  align-items: center;
  height: 100%;
  padding: 0 6px 0 8px;
  cursor: pointer;
  transition: background-color 0.5s;
}
.countryt__selected-flag:hover {
  background: #E4E4E4;
}
.countryt__flag-box {
  width: 25px;
  margin: auto 5px;
  display: flex;
  align-items: center;
}
.countryt__flag {
  max-width: 100%;
  width: 20px;
  height: 20px;
}
.countryt__list {
  position: absolute;
  z-index: 2;
  list-style: none;
  text-align: left;
  padding: 0;
  margin: 0 0 0 -1px;
  box-shadow: 1px 1px 4px #00000033;
  background-color: white;
  border: 1px solid #CCC;
  white-space: nowrap;
  max-height: 200px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  min-width: 200px;
  overflow-y: auto;
  font-size: 0.85rem;
  display: none;
}
.countryt__list--open {
  display: block;
}
.countryt__country {
  padding: 8px 10px;
  outline: none;
  display: flex;
  cursor: pointer;
  transition: background-color 0.5s;
}
.countryt__country:hover {
  background: #E4E4E4;
}
.countryt__country-name {
  display: inline-block;
  margin: auto 5px;
}
.countryt__dial-code {
  opacity: 0.7;
}
.countryt__dial-selected {
  display: inline-block;
  margin-right: 5px;
}

.title {
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 55px;
  color: #E73350;
}
.title--orange {
  color: #F9AF10;
}

.subtitle {
  font-size: 25px;
  line-height: 30px;
}
.subtitle--white {
  color: #ffffff;
}

.form__group {
  margin-bottom: 1.15rem;
}
.form__label {
  display: block;
}
.form__input {
  width: 100%;
  padding: 10px 14px;
  border-radius: 4px;
  border: 1px solid #cbcbcb;
  margin-top: 3px;
  font-family: "Poppins", sans-serif;
}
.form__input::-moz-placeholder {
  font-family: "Poppins", sans-serif;
  font-size: 1em;
}
.form__input:-ms-input-placeholder {
  font-family: "Poppins", sans-serif;
  font-size: 1em;
}
.form__input::placeholder {
  font-family: "Poppins", sans-serif;
  font-size: 1em;
}
.form__input:disabled {
  background: #E4E4E4;
}
.form__input--left {
  margin: 0;
  border-radius: 0 4px 4px 0;
}
.form__input--right {
  margin: 0;
  border-radius: 4px 0 0 4px;
}
.form__input--bi {
  margin: 0;
  border-radius: 0;
}
.form__input-icon {
  background: #E73350;
  border: 0;
  padding: 0 0.5rem;
  cursor: pointer;
  transition: background-color 0.5s;
  display: flex;
  align-items: center;
}
.form__input-icon:hover {
  background: #cf1836;
}
.form__input-icon--trans {
  background: transparent;
  border: 1px solid #cbcbcb;
}
.form__input-icon--trans:hover {
  background: #E4E4E4;
}
.form__input-icon--img {
  background: #cbcbcb;
  cursor: initial;
  padding: 0;
  margin-left: 15px;
}
.form__input-icon--img:hover {
  background: #cbcbcb;
}
.form__input-icon--img .icn {
  position: relative;
  left: -20px;
  top: -10px;
  margin-right: -10px;
}
.form__input-icon--left {
  border-radius: 4px 0 0 4px;
  border-right: 0;
}
.form__input-icon--right {
  border-radius: 0 4px 4px 0;
  border-left: 0;
}
.form__input-container {
  display: flex;
  margin-top: 3px;
}
.form__input-note {
  font-size: 0.8rem;
  display: inline-block;
  line-height: 1rem;
  margin-top: 5px;
  color: #666666;
  margin-bottom: -0.5rem;
}
.form__input-error {
  font-size: 0.8rem;
  display: inline-block;
  line-height: 1rem;
  margin-top: 5px;
  color: #E73350;
  margin-bottom: -0.5rem;
}

.header {
  padding: 2rem 0 3.5rem;
}
.header__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__nav-bloq {
  min-width: 33%;
}
.header__nav-logo img {
  height: 110px;
}
.header__nav-opts {
  padding-bottom: 2rem;
}
.header__nav-opts .btn {
  margin-left: 0.75rem;
}
.header__info {
  color: #666666;
  font-size: 1.25rem;
  margin: 1.5rem 0 2rem;
}
.header__content {
  display: flex;
  margin: 4.5rem 0 0;
}
.header__content-left {
  width: 50%;
}
.header__content-right {
  width: 60%;
  margin-top: -6rem;
  margin-left: -10%;
  position: relative;
}
.header__slide-img {
  max-width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  opacity: 0;
  transition: opacity 1s;
  z-index: 9;
}
.header__slide-ghost {
  visibility: hidden;
  opacity: 0;
  max-width: 100%;
  position: relative;
  top: 0;
  bottom: 0;
  z-index: -1;
}
.header__slide-active {
  opacity: 1;
}
.header__social-media, .footer__social-media {
  list-style-type: none;
  display: flex;
  justify-content: center;
  margin: 2rem 0;
}
.header__social-page a, .footer__social-page a {
  color: #fff;
  display: inline-block;
  margin: 0 1.5rem;
}
.header__social-page img, .footer__social-page img {
  width: 30px;
}
.header__download-link, .footer__download-link {
  display: inline-block;
  margin: 0.4rem 0;
}
.header__download-img, .footer__download-img {
  height: 70px;
}

.step {
  display: flex;
  justify-content: space-between;
  padding: 5rem 0;
}
.step__el {
  background: #ffffff;
  padding: 25px 25px 50px;
  text-align: center;
  width: calc(25% - 25px);
  box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.4);
  border-radius: 25px;
  position: relative;
}
.step__img {
  margin-top: -50%;
  max-width: 75%;
}
.step__line {
  max-width: 75%;
  position: absolute;
  right: calc(-1rem - 40px);
  bottom: 0;
}
.step__title {
  margin: 0 1rem;
  position: relative;
  padding-bottom: 35px;
  margin-bottom: 25px;
}
.step__info {
  color: #666666;
  font-size: 1.25rem;
}

.detail {
  margin: 100px auto 150px;
}
.detail__content {
  margin: 0 auto;
  display: flex;
  position: relative;
  align-items: center;
}
.detail__content::before {
  content: "";
  position: absolute;
  border-radius: 5px;
  background: #E73350;
  width: 84%;
  left: 8%;
  top: 0;
  bottom: 0;
  z-index: -1;
  box-sizing: content-box;
}
.detail__content::after {
  content: "";
  width: 59%;
  position: absolute;
  right: 0;
  top: -100px;
  bottom: -175px;
  background: url(img/img-heart.png);
  background-size: cover;
  z-index: -1;
  box-sizing: content-box;
}
.detail__picture {
  width: 40%;
}
.detail__picture img {
  width: 100%;
}
.detail__desc {
  width: 50%;
  color: #ffffff;
  margin-left: 3rem;
  padding: 3.5rem;
  font-size: 1.25rem;
}
.detail__desc .btn {
  margin-top: 1.5rem;
}

.benefits__header {
  display: flex;
}
.benefits__title {
  width: 30%;
}
.benefits__info {
  width: 30%;
}
.benefits__list {
  display: flex;
  justify-content: space-between;
  margin: 7rem 0 9rem;
}
.benefits__el {
  background: #E4E4E4;
  text-align: center;
  width: 25%;
  padding: 0 3rem;
  position: relative;
  overflow: visible;
}
.benefits__el::after {
  content: "";
  position: absolute;
  bottom: -99px;
  left: 0;
  right: 0;
  width: 100%;
  height: 100px;
  background: url(img/img-rectdown.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  box-sizing: content-box;
}
.benefits__el-img {
  width: calc(100% - 2rem);
  margin-top: -40%;
}

.affiliates {
  text-align: center;
}
.affiliates__title {
  display: block;
  margin: 1rem 0;
}
.affiliates__picture {
  position: relative;
  overflow: visible;
  height: 90px;
  display: inline-block;
}
.affiliates__picture::before {
  content: "";
  position: absolute;
  top: -5px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
  width: 190px;
  height: 190px;
  background: url(img/icn-lines.png);
  background-size: cover;
}
.affiliates__picture img {
  top: 0;
  z-index: 9;
  position: absolute;
  border-radius: 50%;
  width: 180px;
  left: 50%;
  transform: translateX(-50%);
}

.register {
  background: #F9AF10;
  margin: -2rem 0 -155px;
  padding: 4rem 0 150px;
  position: relative;
}
.register__form {
  background: #ffffff;
  padding: 2.5rem 3.5rem;
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
}
.register__form-left, .register__form-right {
  width: calc(50% - 20px);
}
.register__date {
  font-size: 1rem;
  margin-top: -1rem;
}
.register__date-title {
  color: #E73350;
}
.register::before {
  content: "";
  background: url("img/img-semicircle.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  width: 200px;
  height: 100px;
  top: -50px;
  left: 50%;
  transform: translateX(-50%);
  box-sizing: content-box;
}

.login {
  padding: 2.5rem;
}
.login__nav-responsive {
  display: none;
}
.login__nav {
  margin-top: 2.5rem;
}
.login__content {
  display: flex;
}
.login__content-left {
  width: 40%;
  margin-left: 5%;
}
.login__content-right {
  width: 60%;
}
.login__img {
  max-width: 100%;
  margin-left: -5%;
}
.login__title {
  margin: 2rem 0;
  font-size: 45px;
}
.login__buttons {
  margin-top: 1rem;
}
.login__form {
  padding-bottom: 2rem;
}

.footer {
  position: relative;
}
.footer::before {
  content: "";
  position: absolute;
  top: -10px;
  width: 90%;
  height: 20px;
  background: #F9AF10;
  box-sizing: content-box;
}
.footer::after {
  content: "";
  position: absolute;
  top: -45px;
  left: calc(90% - 20px);
  width: 50px;
  height: 50px;
  background: transparent;
  border: 20px solid #F9AF10;
  border-radius: 50%;
  box-sizing: content-box;
}
.footer--line-red::before {
  background: #E73350;
}
.footer--line-red::after {
  border: 20px solid #E73350;
}
.footer__top {
  background: #7422AC;
  padding: 0 5px;
}
.footer__content {
  display: flex;
  padding: 5rem 0 3rem;
}
.footer__us, .footer__social {
  width: 50%;
}
.footer__contact {
  display: flex;
}
.footer__logo {
  width: auto;
  height: 125px;
}
.footer__contact-detail {
  padding: 0 1.5rem;
}
.footer__title {
  margin-bottom: 0.5rem;
}
.footer__contact-go {
  color: #ffffff;
  display: inline-block;
  text-decoration: none;
  padding: 0.25rem 0;
  margin: 8px 0;
  position: relative;
}
.footer__contact-go::before {
  content: "";
  width: 30px;
  height: 3px;
  background: #E73350;
  position: absolute;
  top: 0;
  left: 0;
}
.footer__terms {
  padding: 2.5rem 0 1rem;
}
.footer__terms-link {
  font-weight: 500;
}
.footer__terms-link .icn {
  margin-left: 0.5rem;
  vertical-align: middle;
}
.footer__social {
  text-align: center;
}
.footer__social-media {
  margin: 0 0 1.5rem;
}
.footer__copy {
  background: #E73350;
  padding: 1.5rem 0;
  text-align: center;
  color: #ffffff;
  position: relative;
  font-size: 1.25rem;
}
.footer__copy::before {
  content: "";
  position: absolute;
  top: -40px;
  left: 50%;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-bottom: 50px solid #E73350;
  transform: translateX(-50%);
}

@media screen and (max-width: 1024px) {
  .max-bound {
    max-width: 960px;
  }
}
@media screen and (max-width: 768px) {
  body {
    font-size: 1rem;
  }

  .header, .step, .detail, .benefits, .affiliates {
    padding: 0 20px;
  }

  .max-bound {
    max-width: 100%;
  }

  .header {
    padding: 20px;
  }
  .header__content {
    margin: 2rem 0 5rem;
  }
  .header__nav {
    flex-direction: column;
    align-items: center;
  }
  .header__content {
    flex-direction: column-reverse;
  }
  .header__content-left, .header__content-right {
    width: 100%;
  }
  .header__content-right {
    margin-top: 0;
    position: relative;
  }
  .header__info {
    font-size: 0.95rem;
  }
  .header__social-media, .footer__social-media {
    display: none;
  }
  .header__download {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 3rem;
    width: 100%;
  }
  .header__download-img, .footer__download-img {
    max-width: 100%;
    height: auto;
    max-height: 60px;
  }
  .header__download-link, .footer__download-link {
    width: calc(50% - 10px);
    text-align: center;
  }

  .login {
    overflow: hidden;
  }
  .login__nav-responsive {
    display: block;
    text-align: center;
  }
  .login__content {
    flex-direction: column-reverse;
    padding: 0 1rem;
  }
  .login__content-left, .login__content-right {
    width: 100%;
  }
  .login__content-left {
    margin-left: auto;
  }
  .login__content-left .login__nav {
    display: none;
  }
  .login__buttons {
    display: flex;
    justify-content: space-evenly;
  }

  .detail {
    margin: 50px auto 125px;
  }
  .detail__content {
    flex-direction: column;
  }
  .detail__content::after {
    width: 30%;
    top: calc(100% - 150px);
    bottom: -50px;
    right: 0;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom center;
    box-sizing: content-box;
  }
  .detail__picture {
    width: 25%;
    margin-left: -75%;
  }
  .detail__desc {
    margin: 0;
    font-size: 0.95rem;
    width: 70%;
    padding: 20px;
    padding-top: 0;
  }

  .step {
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .step__el {
    width: calc(50% - 20px);
    padding: 15px 15px 30px;
    margin-bottom: 80px;
  }
  .step__title {
    margin: 0 0.5rem;
  }
  .step__info {
    font-size: 0.95rem;
  }
  .step__line {
    right: calc(-1rem - 15px);
  }
  .step__img {
    margin-top: -25%;
    max-width: 50%;
  }

  .benefits__header {
    flex-direction: column;
  }
  .benefits__title {
    width: 50%;
  }
  .benefits__info {
    width: 100%;
  }
  .benefits__list {
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 0;
  }
  .benefits__el {
    width: calc(50% - 20px);
    padding: 0 1rem;
    font-size: 1rem;
    margin-bottom: 120px;
  }

  .affiliates__picture {
    height: 50px;
  }
  .affiliates__picture::before {
    width: 110px;
    height: 110px;
  }
  .affiliates__picture img {
    width: 100px;
  }

  .register {
    padding: 4rem 0 150px;
  }
  .register__form {
    margin: 0 1rem;
    padding: 2.5rem;
    flex-direction: column;
  }
  .register__form-left, .register__form-right {
    width: 100%;
  }

  .footer::before {
    top: -5px;
    width: 75%;
    height: 10px;
    background: #E73350;
  }
  .footer::after {
    content: "";
    position: absolute;
    top: -25px;
    left: calc(75% - 10px);
    width: 30px;
    height: 30px;
    border: 10px solid #E73350;
    border-radius: 50%;
  }
  .footer__content {
    padding: 0 20px;
    flex-direction: column;
  }
  .footer__us, .footer__social {
    width: 100%;
  }
  .footer__contact {
    padding: 5rem 0 0;
  }
  .footer__contact-go {
    font-size: 1rem;
    margin-top: 0;
  }
  .footer__logo {
    height: 75px;
  }
  .footer__social {
    margin: 2rem 0 3.5rem;
  }
  .footer__social-media {
    justify-content: flex-start;
    margin: 0 0 1.5rem;
  }
  .footer__social-page a {
    margin: 0 1rem;
  }
  .footer__download {
    display: flex;
  }
  .footer__download a {
    width: calc(50% - 10px);
  }
  .footer__download a:nth-child(n+2) {
    margin-left: 20px;
  }
  .footer__copy {
    font-size: 0.8rem;
    padding: 1.5rem 20px;
  }
  .footer__terms-link {
    font-size: 1rem;
  }

  .title {
    font-size: 30px;
    line-height: 44px;
  }

  .subtitle {
    font-size: 20px;
  }
}
@media screen and (min-width: 480px) and (max-width: 768px) {
  .benefits__el-img {
    width: calc(80% - 4rem);
    margin-top: -35%;
  }
}
@media screen and (max-width: 480px) {
  .title {
    font-size: 28px;
  }

  .btn--big {
    font-size: 1.2rem;
  }

  .header__nav-logo img {
    width: calc(100% - 20px);
    height: auto;
  }
  .header__nav-opts {
    padding-bottom: 1rem;
  }
  .header__nav-opts .btn {
    margin-left: 0.25rem;
    font-size: 0.9rem;
  }
  .header__content {
    margin: 1rem 0 5rem;
  }
  .header__info {
    margin: 1rem 0 1.5rem;
  }

  .step__el {
    width: 100%;
  }
  .step__line {
    right: calc(-1rem - 25px);
  }

  .detail__desc {
    padding: 10px 5px 30px;
  }
  .detail__picture {
    width: 70%;
    margin-left: -30%;
  }

  .benefits__list {
    margin-top: 4rem;
  }

  .footer::before {
    height: 8px;
    top: -4px;
  }
  .footer::after {
    border: 8px solid #E73350;
    left: calc(75% - 8px);
  }
  .footer__contact-go {
    font-size: 0.9rem;
  }
  .footer__contact-detail {
    padding: 0 0 0 1rem;
  }

  .login__buttons {
    flex-direction: column;
    text-align: center;
  }
  .login__buttons .btn {
    margin-bottom: 0.75rem;
  }
}
.whatsapp {
  position: fixed;
  z-index: 2147483644;
  bottom: 24px;
  top: auto;
  height: 60px;
  width: 60px;
  right: 95px;
}
.whatsapp__image {
  border-radius: 50%;
  width: 100%;
}

.fb_customer_chat_bounce_out_v2 {
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  display: unset !important;
}

.fb_customer_chat_bounce_in_v2 {
  display: unset !important;
}

.fb_iframe_widget iframe {
  display: none;
}/*# sourceMappingURL=style.css.map */