$yellow: #F9AF10;
$darkyellow: darken($yellow, 5%);
$purple: #7422AC;
$darkpurple: #330066;
$black: #2D2D2D;
$darkblack: darken($black, 10%);
$gray: #666666;
$lightgray: #E4E4E4;
$midgray: darken($lightgray, 10%);
$red: #E73350;
$darkred: darken($red, 10%);
$white: #ffffff;
$semiwhite: #f8f8f8;

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}
 
body {
    font-family: 'Poppins', sans-serif;
    background: $semiwhite;
    font-weight: 400;
    font-size: 1.15rem;
}

.max-bound {
    max-width: 1200px;
    margin: 0 auto;
}
  
.outer-pad {
    padding: 1rem;
}

.btn{
    padding: 8px 14px;
    border-radius: 5px;
    border: 0;
    text-decoration: none;
    display: inline-block;
    font-size: 1.1rem;
    line-height: 1.5rem;
    cursor: pointer;
    transition: background-color 0.5s, color 0.5s;
    &--yellow{
        background: $yellow;
        color: $white;
        &:hover{
            background: $darkyellow;
        }
    }
    &--red{
        background: $red;
        color: $white;
        &:hover{
            background: $darkred;
        }
    }
    &--purple{
        background: $purple;
        color: $white;
        &:hover{
            background: $darkpurple;
        }
    }
    &--black{
        background: $black;
        color: $white;
        &:hover{
            background: $darkblack;
        }
    }
    &--big{
        font-size: 1.35rem;
        font-weight: 500;
        padding: 10px 18px;
        border-radius: 8px;
    }
    &--link{
        padding-left: 0;    
        color: $yellow;
        &:hover{
            color: $darkyellow;
        }
    }
}

.icn{
    &--row{
        height: 17.5px;
        width: 30px;
        display: inline-block;
        background: url("img/icn-row.png");
        background-size: cover;
    }
    &--search{
        height: 17.5px;
        width: 30px;
        display: inline-block;
        background: url("img/icn-search.svg");
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
    }
    &--eye{
        height: 17.5px;
        width: 30px;
        display: inline-block;
        background: url("img/icn-eye.svg");
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
    }
    &--eye-b{
        height: 17.5px;
        width: 30px;
        display: inline-block;
        background: url("img/icn-eye-b.svg");
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
    }
    &--user{
        height: 45px;
        width: 45px;
        display: inline-block;
        background: url("img/icn-user.png");
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
    }
    &--password{
        height: 45px;
        width: 45px;
        display: inline-block;
        background: url("img/icn-password.png");
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
    }
}

.text{
    &--purple{
        color: $purple;
    }
}

.countryt{
    font-size: 0.9rem;
    position: relative;
    height: 100%;
    border: 1px solid $midgray;
    border-radius: 4px 0 0 4px;
    &__selected-flag{
        z-index: 1;
        position: relative;
        display: flex;
        align-items: center;
        height: 100%;
        padding: 0 6px 0 8px;
        cursor: pointer;
        transition: background-color 0.5s;
        &:hover{
            background: $lightgray;
        }
    }
    &__flag-box{
        width: 25px;
        margin: auto 5px;
        display: flex;
        align-items: center;
    }
    &__flag{
        max-width: 100%;
        width: 20px;
        height: 20px;
    }
    &__list{
        position: absolute;
        z-index: 2;
        list-style: none;
        text-align: left;
        padding: 0;
        margin: 0 0 0 -1px;
        box-shadow: 1px 1px 4px #00000033;
        background-color: white;
        border: 1px solid #CCC;
        white-space: nowrap;
        max-height: 200px;
        width: fit-content;
        min-width: 200px;
        overflow-y: auto;
        font-size: 0.85rem;
        display: none;
        &--open{
            display: block;
        }
    }
    &__country{
        padding: 8px 10px;
        outline: none;
        display: flex;
        cursor: pointer;
        transition: background-color 0.5s;
        &:hover{
            background: $lightgray;
        }
    }
    &__country-name{
        display: inline-block;
        margin: auto 5px;
    }
    &__dial-code{
        opacity: 0.7;
    }
    &__dial-selected{
        display: inline-block;
        margin-right: 5px;
    }
}

.title{
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 55px;
    color: $red;
    &--orange{
        color: $yellow;
    }
}
.subtitle{
    font-size: 25px;
    line-height: 30px;
    &--white{
        color: $white;
    }
}

.form{
    &__group{
        margin-bottom: 1.15rem;
    }
    &__label{
        display: block;
    }
    &__input{
        width: 100%;
        padding: 10px 14px;
        border-radius: 4px;
        border: 1px solid $midgray;
        margin-top: 3px;
        font-family: 'Poppins', sans-serif;
        &::placeholder{
            font-family: 'Poppins', sans-serif;
            font-size: 1em;
        }
        &:disabled{
            background: $lightgray;
        }
        &--left{
            margin: 0;
            border-radius: 0 4px 4px 0;
        }
        &--right{
            margin: 0;
            border-radius: 4px 0 0 4px;
        }
        &--bi{
            margin: 0;
            border-radius: 0;
        }
    }
    &__input-icon{
        background: $red;
        border: 0;
        padding: 0 0.5rem;
        cursor: pointer;
        transition: background-color 0.5s;
        display: flex;
        align-items: center;
        &:hover{
            background: $darkred;
        }
        &--trans{
            background: transparent;
            border: 1px solid $midgray;
            &:hover{
                background: $lightgray;
            }
        }
        &--img{
            background: $midgray;
            cursor: initial;
            padding: 0;
            margin-left: 15px;
            &:hover{
                background: $midgray;
            }
            .icn{
                position: relative;
                left: -20px;
                top: -10px;
                margin-right: -10px;
            }
        }
        &--left{
            border-radius: 4px 0 0 4px;
            border-right: 0;
        }
        &--right{
            border-radius: 0 4px 4px 0;
            border-left: 0;
        }
    }
    &__input-container{
        display: flex;
        margin-top: 3px;
    }
    &__input-note{
        font-size: 0.8rem;
        display: inline-block;
        line-height: 1rem;
        margin-top: 5px;
        color: $gray;
        margin-bottom: -0.5rem;
    }
    &__input-error{
        font-size: 0.8rem;
        display: inline-block;
        line-height: 1rem;
        margin-top: 5px;
        color: $red;
        margin-bottom: -0.5rem;
    }
}

.header{
    padding: 2rem 0 3.5rem;
    &__nav{
        display: flex;
        justify-content: space-between;
        align-items: center;
        &-bloq{
            min-width: 33%;
        }
    }
    &__nav-logo{
        img{
            height: 110px;
        }
    }
    &__nav-opts{
        padding-bottom: 2rem;
        .btn{
            margin-left: 0.75rem;
        }
    }
    &__info{
        color: $gray;
        font-size: 1.25rem;
        margin: 1.5rem 0 2rem;
    }
    &__content{
        display: flex;
        margin: 4.5rem 0 0;
        &-left{
            width: 50%;
        }
        &-right{
            width: 60%;
            margin-top: -6rem;
            margin-left: -10%;
            position: relative;
        }
    }
    &__slide-img{
        max-width: 100%;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        opacity: 0;
        transition: opacity 1s;
        z-index: 9;
    }
    &__slide-ghost{
        visibility: hidden;
        opacity: 0;
        max-width: 100%;
        position: relative;
        top: 0;
        bottom: 0;
        z-index: -1;
    }
    &__slide-active{
        opacity: 1;
    }
    &__social-media{
        list-style-type: none;
        display: flex;
        justify-content: center;
        margin: 2rem 0;
    }
    &__social-page{
        a{
            color: #fff;
            display: inline-block;
            margin: 0 1.5rem;
        }
        img{
            width: 30px;
        }
    }
    &__download{
        &-link{
            display: inline-block;
            margin: 0.4rem 0;
        }
        &-img{
            height: 70px;
        }
    }
}

.step{
    display: flex;
    justify-content: space-between;
    padding: 5rem 0;
    &__el{
        background: $white;
        padding: 25px 25px 50px;
        text-align: center;
        width: calc(25% - 25px);
        box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.4);
        border-radius: 25px;
        position: relative;
    }
    &__img{
        margin-top: -50%;
        max-width: 75%;
    }
    &__line{
        max-width: 75%;
        position: absolute;
        right: calc(-1rem - 40px);
        bottom: 0;
    }
    &__title{
        margin: 0 1rem;
        position: relative;
        padding-bottom: 35px;
        margin-bottom: 25px;
    }
    &__info{
        color: $gray;
        font-size: 1.25rem;
    }
}

.detail{
    margin: 100px auto 150px;
    &__content{
        margin: 0 auto;
        display: flex;
        position: relative;
        align-items: center;
        &::before{
            content: '';
            position: absolute;
            border-radius: 5px;
            background: $red;
            width: 84%;
            left: 8%;
            top: 0;
            bottom: 0;
            z-index: -1;
            box-sizing: content-box;
        }
        &::after{
            content: '';
            width: 59%;
            position: absolute;
            right: 0;
            top: -100px;
            bottom: -175px;
            background: url(img/img-heart.png);
            background-size: cover;
            z-index: -1;
            box-sizing: content-box;
        }
    }
    &__picture{
        width: 40%;
        img{
            width: 100%;
        }
    }
    &__desc{
        width: 50%;
        color: $white;
        margin-left: 3rem;
        padding: 3.5rem;
        font-size: 1.25rem;
        .btn{
            margin-top: 1.5rem
        }
    }
}

.benefits{
    &__header{
        display: flex;
    }
    &__title{
        width: 30%;
    }
    &__info{
        width: 30%;
    }
    &__list{
        display: flex;
        justify-content: space-between;
        margin: 7rem 0 9rem;
    }
    &__el{
        background: $lightgray;
        text-align: center;
        width: 25%;
        padding: 0 3rem;
        position: relative;
        overflow: visible;
        &::after{
            content: '';
            position: absolute;
            bottom: -99px;
            left: 0;
            right: 0;
            width: 100%;
            height: 100px;
            background: url(img/img-rectdown.png);
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            box-sizing: content-box;
        }
    }
    &__el-img{
        width: calc(100% - 2rem);
        margin-top: -40%;
    }
}

.affiliates{
    text-align: center;
    &__title{
        display: block;
        margin: 1rem 0;
    }
    &__picture{
        position: relative;
        overflow: visible;
        height: 90px;
        display: inline-block;
        &::before{
            content: '';
            position: absolute;
            top: -5px;
            left: 50%;
            transform: translateX(-50%);
            z-index: 10;
            width: 190px;
            height: 190px;
            background: url(img/icn-lines.png);
            background-size: cover;
        }
        img{
            top: 0;
            z-index: 9;
            position: absolute;
            border-radius: 50%;
            width: 180px;
            left: 50%;
            transform: translateX(-50%);
        }
    }
}

.register{
    background: $yellow;
    margin: -2rem 0 -155px;
    padding: 4rem 0 150px;
    position: relative;
    &__form{
        background: $white;
        padding: 2.5rem 3.5rem;
        border-radius: 20px;
        display: flex;
        justify-content: space-between;
        &-left, &-right{
            width: calc(50% - 20px);
        }
    }
    &__date{
        font-size: 1rem;
        margin-top: -1rem;
        &-title{
            color: $red;
        }
    }
    &::before{
        content: '';
        background: url("img/img-semicircle.png");
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        position: absolute;
        width: 200px;
        height: 100px;
        top: -50px;
        left: 50%;
        transform: translateX(-50%);
        box-sizing: content-box;
    }
}

.login{
    padding: 2.5rem;
    &__nav-responsive{
        display: none;
    }
    &__nav{
        margin-top: 2.5rem;
    }
    &__content{
        display: flex;
        &-left{
            width: 40%;
            margin-left: 5%;
        } 
        &-right{
            width: 60%;
        }
    }
    &__img{
        max-width: 100%;
        margin-left: -5%;
    }
    &__title{
        margin: 2rem 0;
        font-size: 45px;
    }
    &__buttons{
        margin-top: 1rem;
    }
    &__form{
        padding-bottom: 2rem;
    }
}

.footer{
    position: relative;
    &::before{
        content: '';
        position: absolute;
        top: -10px;
        width: 90%;
        height: 20px;
        background: $yellow;
        box-sizing: content-box;
    }
    &::after{
        content: '';
        position: absolute;
        top: -45px;
        left: calc(90% - 20px);
        width: 50px;
        height: 50px;
        background: transparent;
        border: 20px solid $yellow;
        border-radius: 50%;
        box-sizing: content-box;
    }
    &--line-red{
        &::before{
            background: $red;
        }
        &::after{
            border: 20px solid $red;
        }
    }
    &__top{
        background: $purple;
        padding: 0 5px;
    }
    &__content{
        display: flex;
        padding: 5rem 0 3rem;
    }
    &__us, &__social{
        width: 50%;
    }
    &__contact{
        display: flex;
    }
    &__logo{
        width: auto;
        height: 125px;
    }
    &__contact-detail{
        padding: 0 1.5rem;
    }
    &__title{
        margin-bottom: 0.5rem;
    }
    &__contact-go{
        color: $white;
        display: inline-block;
        text-decoration: none;
        padding: 0.25rem 0;
        margin: 8px 0;
        position: relative;
        &::before{
            content: '';
            width: 30px;
            height: 3px;
            background: $red;
            position: absolute;
            top: 0;
            left: 0;
        }
    }
    &__terms{
        padding: 2.5rem 0 1rem;
    }
    &__terms-link{
        font-weight: 500;
        .icn{
            margin-left: 0.5rem;
            vertical-align: middle;
        }
    }
    &__social{
        text-align: center;
    }
    &__social-media{
        @extend .header__social-media;
        margin: 0 0 1.5rem;
    }
    &__social-page{
        @extend .header__social-page;
    }
    &__download{
        &-link{
            @extend .header__download-link;
        }
        &-img{
            @extend .header__download-img;
        }
    }
    &__copy{
        background: $red;
        padding: 1.5rem 0;
        text-align: center;
        color: $white;
        position: relative;
        font-size: 1.25rem;
        &::before{
            content: '';
            position: absolute;
            top: -40px;
            left: 50%;
            border-left: 50px solid transparent;
            border-right: 50px solid transparent;
            border-bottom: 50px solid $red;
            transform: translateX(-50%);
        }
    }
}

@media screen and (max-width: 1024px) {
    .max-bound {
        max-width: 960px;
    }
}

@media screen and (max-width: 768px) {
    body{
        font-size: 1rem;
    }
    .header, .step, .detail, .benefits, .affiliates{
        padding: 0 20px;
    }
    .max-bound {
        max-width: 100%;
    }
    .header {
        padding: 20px;
        &__content{
            margin: 2rem 0 5rem;
        }
        &__nav{
            flex-direction: column;
            align-items: center;
        }
        &__content{
            flex-direction: column-reverse;
        }
        &__content-left, &__content-right{
            width: 100%;
        }
        &__content-right{
            margin-top: 0;
            position: relative;
        }
        &__info{
            font-size: .95rem;
        }
        &__social-media{
            display: none;
        }
        &__download{
            display: flex;
            justify-content: space-evenly;
            margin-bottom: 3rem;
            width: 100%;
            &-img{
                max-width: 100%;
                height: auto;
                max-height: 60px;
            }
            &-link{
                width: calc(50% - 10px);
                text-align: center;
            }
        }
    }
    .login{
        overflow: hidden;
        &__nav-responsive{
            display: block;
            text-align: center;
        }
        &__content{
            flex-direction: column-reverse;
            padding: 0 1rem;
        }
        &__content-left, &__content-right{
            width: 100%;
        }
        &__content-left{
            margin-left: auto;
        }
        &__content-left &__nav{
            display: none;
        }
        &__buttons{
            display: flex;
            justify-content: space-evenly;
        }
    }
    .detail{
        margin: 50px auto 125px;
        &__content{
            flex-direction: column;
            &::after{
                width: 30%;
                top: calc(100% - 150px);
                bottom: -50px;
                right: 0;
                background-size: contain;
                background-repeat: no-repeat;
                background-position: bottom center;
                box-sizing: content-box;
            }
        }
        &__picture{
            width: 25%;
            margin-left: -75%;
        }
        &__desc{
            margin: 0;
            font-size: 0.95rem;
            width: 70%;
            padding: 20px;
            padding-top: 0;
        }
    }
    .step{
        flex-wrap: wrap;
        justify-content: space-around;
        &__el{
            width: calc(50% - 20px);
            padding: 15px 15px 30px;
            margin-bottom: 80px;
        }
        &__title{
            margin: 0 0.5rem;
        }
        &__info{
            font-size: 0.95rem;
        }
        &__line{
            right: calc(-1rem - 15px);
        }
        &__img{
            margin-top: -25%;
            max-width: 50%;
        }
    }
    .benefits{
        &__header{
            flex-direction: column;
        }
        &__title{
            width: 50%;
        } 
        &__info{
            width: 100%;
        }
        &__list{
            flex-wrap: wrap;
            justify-content: space-around;
            margin-bottom: 0;
        }
        &__el{
            width: calc(50% - 20px);
            padding: 0 1rem;
            font-size: 1rem;
            margin-bottom: 120px;
        }
    }
    .affiliates{
        &__picture{
            height: 50px;
            &::before{
                width: 110px;
                height: 110px;
            }
            img{
                width: 100px;
            }
        }
    }
    .register{
        padding: 4rem 0 150px;
        &__form{
            margin: 0 1rem;
            padding: 2.5rem;
            flex-direction: column;
            &-left, &-right{
                width: 100%;
            }
        }
    }
    .footer{
        &::before {
            top: -5px;
            width: 75%;
            height: 10px;
            background: $red;
        }
        &::after {
            content: '';
            position: absolute;
            top: -25px;
            left: calc(75% - 10px);
            width: 30px;
            height: 30px;
            border: 10px solid $red;
            border-radius: 50%;
        }
        &__content {
            padding: 0 20px;
            flex-direction: column;
        }
        &__us, &__social {
            width: 100%;
        }
        &__contact{
            padding: 5rem 0 0;
        }
        &__contact-go{
            font-size: 1rem;
            margin-top: 0;
        }
        &__logo{
            height: 75px;
        }
        &__social {
            margin: 2rem 0 3.5rem;
        }
        &__social-media{
            justify-content: flex-start;
            margin: 0 0 1.5rem;
        }
        &__social-page{
            a {
                margin: 0 1rem;
            }
        }
        &__download {
            display: flex;
            a {
                width: calc(50% - 10px);
                &:nth-child(n+2){
                    margin-left: 20px;
                }
            }
        }
        &__copy {
            font-size: 0.8rem;
            padding: 1.5rem 20px;
        }
        &__terms-link{
            font-size: 1rem;
        }
    }
    .title {
        font-size: 30px;
        line-height: 44px;
    }
    .subtitle{
        font-size: 20px;
    }
}

@media screen and (min-width: 480px) and (max-width: 768px){
    .benefits{
        &__el-img{
            width: calc(80% - 4rem);
            margin-top: -35%;
        }
    }
}

@media screen and (max-width: 480px) {
    .title {
        font-size: 28px;
    }
    .btn{
        &--big{
            font-size: 1.2rem;
        }
    }
    .header{
        &__nav-logo{
            img{
                width: calc(100% - 20px);
                height: auto;
            }
        }
        &__nav-opts{
            padding-bottom: 1rem;
            .btn{
                margin-left: 0.25rem;
                font-size: 0.9rem;
            }
        }
        &__content{
            margin: 1rem 0 5rem;
        }
        &__info{
            margin: 1rem 0 1.5rem;
        }
    }
    .step{
        &__el{
            width: 100%;
        }
        &__line {
            right: calc(-1rem - 25px);
        }
    }
    .detail{
        &__desc{
            padding: 10px 5px 30px;
        }
        &__picture{
            width: 70%;
            margin-left: -30%;
        }
    }
    .benefits{
        &__list{
            margin-top: 4rem;
        }
    }
    .footer{
        &::before{
            height: 8px;
            top: -4px;
        }
        &::after{
            border: 8px solid $red;
            left: calc(75% - 8px);
        }
        &__contact-go{
            font-size: 0.9rem;
        }
        &__contact-detail{
            padding: 0 0 0 1rem;
        }
    }
    .login{
        &__buttons{
            flex-direction: column;
            text-align: center;
            .btn{
                margin-bottom: 0.75rem;
            }
        }
    }
}

.whatsapp{
    position: fixed;
    z-index: 2147483644;
    bottom: 24px;
    top: auto;
    height: 60px;
    width: 60px;
    //right: 12px;
    right: 95px;
    &__image{
        border-radius: 50%;
        width: 100%;
    }
}

.fb_customer_chat_bounce_out_v2 { animation-fill-mode: forwards; display: unset !important; }
.fb_customer_chat_bounce_in_v2 { display: unset !important; }
.fb_iframe_widget iframe { display: none; }